<h1>Success!</h1>
  <a href="/vehicles">See Vehicle List</a>
  <a href="/vehicles/new">Add New Vehicle</a>

  <a href="/dealerships">See Vehicle List</a>
  <a href="/dealerships/new">Add New Vehicle</a>
